* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Exo 2', sans-serif;
    text-emphasis-color: #000;

}


/*------------------------portada---------------------------*/

body {
    width: 100%;
}

.unit-body>p {
    font-size: 0.8em;
}

.container-portada-mision{
    position: relative;
    width: 100%;
    margin: auto;
    height: 470px;
    background-image: url(../img/contact-us.jpg);
    background-size: 100%;
    top: 0px;
   
    /* filter:brightness(0.3); */
    /* background-color: rgba(0,0,0,0.8); */
    
}

.container-detalle{
    position: relative;
    margin: auto;
    top: 120px;
    width:100%;
    height: 250px;
    max-width: 1150px;
    display: block;
     background: linear-gradient(to right,
            rgb(216, 216, 216),
            rgba(238, 238, 238, 0.76),
            rgba(255, 255, 255, 0.123)); 
    opacity: .8;
}

.main-contacto {
    margin: auto

}

.container-detalle .detalle{
   
    width: 450px;
    padding: 10px 20px;
    
}

.detalle h1{
    font-size: 3.2em;
    font-weight: bold;
}

.detalle p{
    line-height: 1.2;
    font-size: 1.0em;
    font-weight: bold;
    color: #1E2126;
}

.detalle span{
    margin-top: 10px;
    border: 1px solid #ff9900;
    width: 150px;
    display: flex;
}

@keyframes movimiento{
    from{
        background-position: bottom left;
    }to{
        background-position: top right;

    }
}

.capa-gradiente{
    width: 100%;
    height: 100%;
    position: absolute;
    /* background: -webkit-linear-gradient(left, black, rgb(255, 187, 0)); */
    /* opacity: .3; */
}
/*-----------------------Contenedor body --------------------------------------------------*/

.main-contenido {
   width: 100%;
   display: flex;

}


.unit-body>p>a {
    font-size: 1.4em;
}


.contenedor-uno {
    height: 70px;
    width: 100%;
    background: rgb(255, 187, 0);
    box-shadow: 0 0 10px 0 rgb(0, 0, 0);

}

.sub-uno {
    width: 100%;
    height: 1px;
    margin: auto;
    background: #000;
}

.contenedor-division {
    margin-top: 20px;
    height: 120px;
    width: 100%;
    background: rgb(255, 187, 0);
    padding-top: 20px;
    box-shadow: 0 0 10px 0 rgb(0, 0, 0);
    
}

.contenedor-dos {
    margin-top: 20px;
    height: 400px;
    width: 100%;
    background: #000;
    padding-top: 20px;
}

.sub-contenedor-dos {
    width: 90%;
    margin: auto;
    max-width: 1150px;


}

.marcas>h2 {
    color: #fff;
    text-align: center;
    font-size: 1.4em;
    font-family: 'Exo 2', sans-serif;
    font-weight: 300;
}

.marcas-img {
    display: flex;
    margin: auto;
    height: 300px;
    width: 98%;
    align-content: center;
    align-items: center;
    max-width: 1150px;
    background: #fff;
    box-shadow: 0 0 10px 0 rgb(255, 187, 0);

}

.marcas {
    padding-bottom: 10px;
}

.marca-uno {
    width: 32%;
    height: 90%;
    margin-left: 1%;

}

.contenedor-division {
    margin-top: 1px;
    height: 120px;
    width: 100%;
    background: rgb(255, 187, 0);
    padding-top: 20px;
    box-shadow: 0 0 10px 0 rgb(0, 0, 0);
    
}



.subtitulo {
    margin: auto;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    color: #000;
}

.item{
    background: #f2f2f2;
}

.link-footer {
    text-decoration: none;
}

hr {
    margin: auto;
    height: 1px;
    border: 0;
    font-size: 20px;
    background-color: #ff9900;
    opacity: .6;
    width: 100%;
    
    
}
.main-footer{
    width: 100%;
    
}

/*-----------Contenedor contactanos--------------*/

.contenedor-contacto{
    width: 100%;
    margin: 0;
    display: flex;
}

.cont-form{
    width: 100%;
    margin: auto;

}

.cont-map{
    width: 100%;
    background: linear-gradient(to left,
            rgb(255, 255, 255),
            rgba(238, 238, 238, 0.76),
            rgba(255, 255, 255, 0.24)); 
    
}


.formulario-contacto{
    width:60%;
    padding: 15px 20px;
    float: right;
}

.section-title{
    padding: 5px;
    width: 95%;
}
.section-title h3{
    text-align: center;
    font-weight: bold;
    font-size: 1.4em;
    color: #000;
}

.section-title p{
    margin-top: 10px;
    text-align: left;
    color: #1E2126;
}

.row{
    /* border: 1px dashed #ff9900; */
    width: 100%;
    display: inline-block;
   
}

.col-sm-6{
    margin: auto;
    
}

.form-group{
    background: #f2f2f2;
    margin: auto;
    width: 200px;
    padding: 5px;
    height: 70px;
    display: flex;
    
}

#nombre{
    
    width: 100%;
    margin-top: 15px;
    
}

label{
    position: absolute;
    color: #1E2126;
    
}
input{
    border: 1px dashed transparent;
    width: 100%;
    background: #b1b1b1d0;
}

textarea{
    border: 1px dashed transparent;
    width: 100%;
    background: #b1b1b1d0;
    margin-top: 20px;
}

#email-form{
    width: 100%;
    margin-top: 15px;
}

#asunto{
    float: left;
    width: 100%;
    margin-top: 15px;
}
#mensaje{
    height: 200px;
    position: relative;
    width: 100%;
    top: 15px;
    
}

.contact-form-privacy-policy{
    margin-top: 15px;
    width: 90%;
    display: flex;
    margin-left: 3px;
    
}

#check{
    margin: auto;
    width: 20px;
}

#policy{
   
    width: auto;
    text-align: center;
    
}
.leido{
    
    float: right;
    width: 400px;
}

#boton{
    margin-top: 10px;
    width: 200px;
    padding: 7px;
    background: #ff9900;
    border: 1px solid #f2f2f2;
    border-radius: 3px;
    color: #1E2126;
    cursor: pointer;
    padding-bottom: 5px;
}

#boton2{
    margin: auto;
    width: 80px;
    height: 35px;
    
    background: #ff9900;
    color: #1E2126;
    cursor: pointer;
    border: 1px solid #000;
    box-shadow: 0 0 5px 0 rgb(0, 0, 8);
    font-weight: bold;
}


#boton:hover{
    background: #1E2126;
    color: #ff9900;
    transition: 0.3s;
}

#boton2:hover{
    background: #1E2126;
    color: #ff9900;
    transition: 0.3s;
}


.ubicacion-map{
    
    width:560px;
    padding: 15px 20px;
    height: 700px;
    float: left;
    

}

.contact-map{
    background-image: url(../img/forzza-us.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    filter: brightness(50%);
    border-radius: 3px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: stretch;
    align-items: stretch;

}

.mapa-forzza{
    position: relative;
    width: 500px;
    /* border: 1px dashed #ff9900; */
    padding-top: 5px;

}

#frame-map{
    margin: auto;
    width: 100%;
    height: 100%;
}

input>#email {
    background-color: #fff;
}

.info-texto>#h2 {
    color: #000;
}

.info-texto>p {
    font-size: 0.8em;
    color: #000;
}

.section-footer {
    width: 100%;
}

.footer-dos {
    width: 57%;
    /* border: 1px dashed #ff9900; */
    margin: auto;
}

@media screen and (max-width:800px) {
    .container-detalle{
        top: 50px;
        width:100%;
        height: 270px;
        display: flex;

    }

    .container-detalle .detalle{
        margin: auto;
        width: 200px;
        padding: 0px;
        margin-left: 25%;
        
    }

    .detalle h1{
        margin-top: 10px;
        font-size: 1.8em;
        font-weight: bold;
        color: #fff;
    }

    .detalle span{
        margin-top: 0px;
        width: 150px;
     
    }

    .container-portada-mision{
        top: 45px;
    
    }

    .main-contacto {
        margin: auto;
        
    }
    
    hr {
        width: 70%;
    }

    .contenedor-contacto {
        margin: auto;
        display: block;
       
        width: 80%;
        height: 180vh;
    }

    .cont-form{
        width: 100%;
        margin: auto;
      
        height: 105vh;
    }
    
    .cont-map{
       
        width: 100%;
        height: 100vh;
        display: block;
        
    }

    
    .ubicacion-map {
       width: 100%;
       height: 70vh;
        margin: auto;
        margin-left: 5%;
    }

    .formulario-contacto {
      
        margin: auto;
        width: 90%;
        margin-left: 5%;
    }

    .cont-map {
        border: 1px solid #fff;
     
    }

  
}

@media screen and (max-width:470px) {
    hr {
        width: 70%;
    }


    .container-portada-mision{
        top: 45px;
        height: 320px;
        width: 100%;
        background-size: cover;
    }

    
    .ubicacion-map {
        margin-left: 10px;
        margin: auto;
        
    }

    .contenedor-contacto {
        margin: auto;
        height: 150vh;
        
    }


    .formulario-contacto {
        margin: auto;
        width: 100%;
    }
    .ubicacion-map {
       
        margin: auto;
        height: 40vh;
    }

    .contact-map {
        width: 80%;
        margin: auto;
        display: block;
    }

    #policy {
        width: 100px;
        margin-left: 40%;
        display: block;
    }

    #check {
        margin-top: 20px;
    }

    .leido {
      margin-right: 50%;
        width: 170px;
        display: block;

    }

}

@media screen and (max-width:380px) {
    .contenedor-contacto {
        margin: auto;
        width: 100%;
        
    }

    .cont-form {
        width: 100%;
    }
    .formulario-contacto {
        margin: auto;
        width: 100%;
        
    }

    .button {
        margin-left: 20%;
    }

    .leido {
        margin: auto;
    }

    #check {
        position: absolute;
        margin-top: 50px;
        margin-left: 10px;
     
    }
}


