

/*------------------- footer uno -------------------------------*/

* {
    font-family: 'Exo 2', sans-serif;
}

footer{
    background: #1E2126;
}

.footer-uno{
    
    margin: auto;
    height: 120px;
    background: rgb(255, 187, 0);
    width: 100%;
}

.sub-footer-uno{
    /* border: 1px solid #000; */
    margin: auto;
    display: flex;
    width: 90%;
    max-width: 1080px;
}

.info-texto{
    margin: auto;
    padding: 10px;
    /* border: 1px solid #000; */
    width: 48%;
    margin-top: 10px;
    text-align: justify;
}

.info-texto>#h2{
    margin-bottom: 5px;
    font-size: 1.2em;
    text-align: left;
    
}

.info-texto>p {
    margin-top: 0px;
}

.info-form{
    margin: auto;
    padding: 20px 0;
    /* border: 1px solid #000; */
    width: 48%;
    
}

#form-email{
    /* border: 1px solid #000; */
    margin: auto;
    width: 400px;
    height: 60px;
    display: flex;
    
}

#email{
    border: 1px solid rgb(75, 71, 71);
    margin: auto;
    height: 35px;
    width: 250px;
    box-shadow: 0 0 5px 0 rgb(0, 0, 8);
}

#boton{
    border: 1px solid #000;
    margin: auto;
    height: 35px;
    width: 80px;
    cursor: pointer;
    background: #ff9900;
    color: #1E2126;
    box-shadow: 0 0 3px 0 rgb(0, 0, 8);
    font-weight: bold;

}


/*------------------- footer dos -------------------------------*/

.seccion-footer{
    width: 100%;
    
}

.footer-dos{
    /* border: 1px solid rgb(75, 71, 71); */
    display: flex;
    
}

.footer-nav{
    /* border: 1px solid rgb(75, 71, 71); */
    margin-top: 10px;
    display: flex;
    margin: auto;
    font-family: 'Exo 2', sans-serif;
    
}

.footer-map{
    margin: auto;
    padding: 20px;
    margin-top: 45px;
    /* border: 1px solid rgb(75, 71, 71); */
 
}

.mapa-ubicacion>#h2{
    text-align: left;
    font-weight: bold;
    color: #ff9900;
    font-size: 1.0em;
}

.mapa-forzza{
    padding-top: 5px;
    margin: auto;
    width: 300px;
    height: 300px;
    
}

.navegacion-footer{
    /* border: 1px solid rgb(75, 71, 71); */
    padding: 20px;
    
}

.navegacion-footer>h2{
    /* border: 1px solid rgb(75, 71, 71); */
    text-align: left;  
    font-weight: bold;
    font-size: 1.0em;
    color: #ff9900;
    
}

.navegacion-footer ul li{
    list-style: none;
    font-size: 0.9em;
    font-weight: bold;
    cursor: pointer;
    margin-top: 5px;
    padding: 10px 0;
    
    
    
}

.menu-footer{
    /* border: 1px solid rgb(124, 121, 121); */
    margin: auto;
}

.menu-item-footer>a{
    text-decoration: none;
    
}
.menu-item-footer>a{
    text-decoration: none;
    color: #f2f2f2;
    padding: 3px;
    
}

.menu-item-footer>a:hover{
    transition: 300ms;
    color: rgb(0, 0, 0);
    
    
}

.footer-tres{
    height: 320px;
    background: #000;
    padding-top: 10px;
}

.sub-footer-tres{
    margin: auto;
    display: block;
    width: 90%;
    height: 280px;
    max-width: 1080px;
}


.titulo-footer{
    margin: auto;
    width: 100%;
    height: 70px;
    font-family: 'Exo 2', sans-serif;
}

.titulo-footer>h2{
    margin: auto;
    margin-top: 5px;
    color: #fff;
    text-align: center;
    font-size: 1.8em;
    font-family: 'Exo 2', sans-serif;
    font-weight: 400;
}

.titulo-footer>p{
    margin: auto;
    color: rgb(197, 197, 197);
    text-align: center;
    font-size: 1.2em;
    font-family: 'Exo 2', sans-serif;
    
}

.redes-sociales{
    display: flex;
    margin: auto;
    width: 90%;
    height: 70px;
    
}

.redes-sociales>h2{
    font-size: 1.2em;
    width: 140px;
    margin: auto;   
    color: rgb(197, 197, 197);
    
    
    
}

.iconos-footer{
    display: flex;
    margin: auto;
    width: 75%;
    height: 50px;
    
     
}

.sub-iconos{
    margin: auto;
    width: 100px;
    margin-right: 80%;
    margin-bottom: 10px;
    
    
}

.sub-iconos>a>img{
    margin: auto;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background: #fff;
    border: 1px solid #fff;
    
}

.derechos{
    width: 100%;
    height: 140px;
    display: flex;
    
}

.sub-derechos{
    margin: auto;
    width: 48%;
    padding-left: 20px;
    
    
}

.sub-derechos>a{
    text-decoration: none;
}

.sub-derechos a>p{
    text-decoration: none;
    color: rgb(109, 102, 102);
    text-align: left;
    font-size: 0.8em;
    font-weight: 350;
    
}

.sub-derechos >p{
    text-decoration: none;
    color: rgb(109, 102, 102);
    text-align: left;
    font-size: 0.8em;
    font-weight: 350;
    text-align: left;
    
}

.contenedor-logo-footer {
    margin: auto;
    width: 48%;
    height: 80px;
    margin-top: 20px;
    
    
}

.contenedor-logo-footer img {
    width: 120px;
    height: 60px;
    margin-left: 60%;
    margin-top: 5px;
    
}

/*---------------Responsive------------------*/

@media screen and (max-width:720px){
    .footer-uno{
        width: 100%;
        display: block;
        height: 35vh;
        
    }

    .sub-footer-uno{
        margin: auto;
        display: block;
    }

    .info-texto{
        margin-top: 10px;
        text-align: justify;
    }

    .info-texto>h2{
        text-align: center;
        font-family: 'Exo 2', sans-serif;
    }

    .info-form{
        padding: 5px;
        margin-left: 160px;
        
    }

    #form-email{
        width: 270px;
        padding: 0;
        
    }

    #email{
        left: 0px;
        width: 250px;
    }

    #boton{
        width: 80px;
        margin-left: 10px;
    }


    /*----------------  footer dos  ----------------*/


    .seccion-footer {
        display: block;
    }

    .footer-dos{
        display: block;
        margin: auto;
        width: 90%;
    }

    .footer-nav{
        width: 80%;
        padding-top: 20px;
    }

    .footer-map{
        margin-top: 10px;
       
    }

    .mapa-forzza {
        
        display: block;
    }

    .mapa-forzza iframe {
        margin: auto;
        margin-left: 8%;
        padding-top: 10px;
    }

    .navegacion-footer>h2{
        font-size: 0.9em;
    }

    .navegacion-footer ul li{
        font-size: 0.8em;
    }

    .mapa-ubicacion>h2{
        font-size: 1.0em;
        padding-bottom: 10px;
        text-align: center;
    }

    /*----------------  footer tres  ----------------*/

    .footer-tres{
        height: 350px;
    }

    .sub-footer-tres{
        width: 80%;
        display: block;
    }

    .iconos-footer{
        display: flex;
        width: 200px;
    }

    .sub-iconos{
        width: 400px;
        display: flex;
    }

    .sub-iconos>a{
        width: 50px;
    }

    .contenedor-logo-footer img {
        width: 100px;
        height: 50px;
        margin-left: 40%;
        margin-top: 5px;
        
    }


    @media screen and (max-width:470px){
     

        .seccion-footer{
            width: 100%;
            margin: auto;
        }

        .info-texto{
            
            margin: auto;
            width: 80%;
            
        }

        
        .info-texto>h2{
            margin-top: 20px;
            padding-bottom: 5px;
            text-align: center;
        }

        .info-form{
           
            width: 80%;
            margin: auto;
          
        }

        #form-email{
            display: block;
            width: 80%;
            margin: auto;
        }

        #email{
            width: 200px;
            height: 40px;
            margin-left: 10%;
            margin-bottom: 10px;
        }

        #boton{
            margin-top: 15px;
            margin: auto;
            margin-left: 30%;
            
        }

        .footer-uno {
            height: 240px;
        }

        .footer-dos{
            width: 100%;
            
        }

        .footer-nav{
            margin: auto;
            padding-top: 20px;
            width: 60%;
        }

        .footer-map{
            margin: auto;

            
        }

        .navegacion-footer{
            padding: 5px;
        }

        .navegacion-footer>h2{
            font-size: 0.8em;
            text-align: center;
        }

        .navegacion-footer ul li{
            font-size: 0.7em;
            text-align: center;
        }

        .mapa-ubicacion{
            margin: auto;
            width: 100%;
           
            
        }

        .mapa-ubicacion>h2{
            text-align: center;
            font-size: 0.9em;
            padding-bottom: 10px;
        }

        .contenedor-logo-footer>img{
            width: 70px;
            height: 40px;
            margin-left: 30%;
            
        }

        .derechos{
            width: 100%;
            height: 140px;
            display: block;
            
        }

        .sub-derechos{
            width: 80%;
            
        }

        .sub-derechos>p{
            text-align: center;
        }

        #politica{
            text-align: center;
        }

        .redes-sociales{
            width: 70%;
            padding-left: 15px;
            display: block;
        }

        .redes-sociales>h2{
            font-size: 0.9em;
            padding-top: 10px;

        }

        .iconos-footer{
            width: 70%;

        }

        .sub-iconos{
            margin: auto;
            padding-left: 25px;
        }

        #hr-img{
            margin-top: 15px;
            width: 40%;
            margin: auto;
        }
    

    } 

    @media screen and (max-width:380px){

        
        #hr-img{
            margin-top: 20px;
            left: 0;
            
        }
        .footer-uno {
            height: 300px;
        }

        .footer-dos {
            width: 90%;
        }

        .info-texto {
            margin-left: 10%;
        }
        .info-texto p{
            text-align: center;
        }

        .info-form {
            /* border: 1px dashed #000; */
            width: 230px;
            margin-top: 20px;
            margin-left: 15%;
            height: 100px;
        }

        #form-email {
            margin-left: 0px;
            width: 100px;
        }

        #boton {
            margin-left: 10%;
        }

        .footer-nav {
            /* border: 1px dashed #fff; */
            width: 80%;
            margin: auto;
            
            
        }

        .footer-map {
            width: 80%;
            margin-left: -3%;
          
        }

        .mapa-forzza {
            width: 250px;
        }

        .mapa-forzza iframe {
            margin-right: 0px;
        }

        .mapa-ubicacion {
            width: 90%;
        }

        .mapa-forzza {
            
            margin: auto;
            padding-left: 10px;

        }

      


    }





}




